* {
    box-sizing: border-box;
    background-color: black;
    color: white;  
    margin: 0;
    padding: 0;
}

header, h1 {
    background-color: rgb(113, 68, 0);
    text-align: center;;
}

.remove {
    background-color: red;
}

.wrapper {
    border: 1px solid white;
    display: flex;
    max-width: 400px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

li {
    display: flex;
    justify-content: space-between;
}

input {
    background-color: rgb(3, 79, 116);
}